body{
	background-image: url(../img/Fondo1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.formulario{
	height: auto;
	color: #fff;
	border: 5px solid#198C1C;
	transition: 2s;
	background: #000;
	background: rgba(0,0,0,0.3);
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.logo{
	margin-top: 40px;
	max-width: 85%
}
h3{
	margin-top: 40px;
	font-family: times new roman;
	color: #fff;
}
.ingresar{
	background: #198C1C;
	color: #fff; 
	transition: 0.5s ease-in;
	outline: none;
	box-shadow: none;
	border:none;
	border-radius: 10px;
}
.ingresar:hover{
	background: #22B125;
	color: #fff; 
	outline: none;
	box-shadow: none;
	border-radius: 10px;
}
.form-control{
	background: rgba(0,0,0,0.1);
	border: 2px solid#198C1C;
	transition: 0.5s ease-in;	
	outline: none;
	box-shadow: none;
	color: #fff;
}
.form-control:focus{
	background: none;
	border: solid#22B125;
	outline: none;
	box-shadow: none;
	color: #fff;
}
.form-control::placeholder{
	color: #fff;
}
.olvide{
	color: #fff;
}
.olvide:hover{
	color: #fff;
	text-decoration: none;
}
.olvide1{
	color: #fff;
	font-size: 15px;
	border: 2px solid#198C1C;
	padding: 5px;
	background: #198C1C;
	border-radius: 10px;
	outline: none;
	box-shadow: none;
}
.olvide1:hover{
	color: #fff;
	text-decoration: none;
	background:  #22B125;
	transition: 0.5s ease-in;
	outline: none;
	box-shadow: none;
	border: 2px solid#22B125;
}
